* {
  font-family: Helvetica
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
    animation: animatedBackground 90s linear infinite alternate;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin:0px;
  background-image: url("../imgg/lucas_cube_blue.jpg");
  background-size: cover;
  background-repeat:repeat;
  background-position:300%;
  background-color: #F1F1D4;

}


#canvas { width:100%; margin:0px auto; height:100vh;}
#list_section {
  text-align: center;
}

#headerTop {
  
  width:100%;
  text-align: right;
  display:block;
  height:100px;
}
h1 {
  color: rgba(30,30,255,.8);
  text-align: right;
  border-bottom:1px solid rgba(10,10,10,.3);
  position:absolute;
  right:10px;
  width:80%;
        background-image: url("../imgg/lucas_cube_blue.jpg");
      background-size:contain;
      background-repeat: no-repeat;
      background-position: right;
      padding-right:60px;

}

ul {
  padding: 0;
}

li {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  list-style-type: none;
  width: 20%;
  margin: 0px auto;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

p {
  background-color: #fff;
  color: #666;
  padding: 10px;
  display: inline-block;
  margin: 20px auto 20px auto;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}

#tTexture, #tMode { display:none; }
.item {
  background-color: #fff;
  color: #000;
}

input[type='text'] {
  font-size: 12px;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 3px;
}

input[type='submit'] {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  border: none;
  padding: 5px;
}
.seqNote { 
  cursor: pointer;
  padding:4px;
  border-radius:10px;
  margin:4px;
  display: inline-block;
  border:1px solid black;
  background-color: white;
}

#newItemButton {
  display: none;
}

#itemField {
  margin-top: 60px;
  width: 10%;
}

/* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
.square {
  position: relative;
  width: 7%;
  border:1px solid red;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gridline {clear:both; }

.square { float:left; }

.lucasSquare { 
  stroke: blue;
  stroke-width: 1px;
  stroke-opacity: .8;
  fill: grey;
  fill-opacity: .7;
}


.P5 { fill:red; stroke:red; }
.UN { fill:lightblue; stroke:lightblue;  }
.M2 { fill:#CC5500; stroke:#CC5500; }
.n3 { fill:darkgreen; stroke:darkgreen;  }
.M3 { fill:orange; stroke:orange;  }
.n2 { fill:darkgrey; stroke:darkgrey;  }
.TT { fill:pink; stroke:pink;  }


.lucasSquare:hover { 
  fill-opacity:.1;
  stroke:red;
  stroke-width: 3px;
 }

.lucasSquare.combined { 
  stroke:white;
  stroke-width:6px;
 }
 g.cloned .lucasSquare.combined { 
  stroke-opacity:.4;
 }

 .lucasCircle { 
  fill:#338;
  fill-opacity:.2;
  }


#app { 
display:none; 
margin:10px;
 }

.submenu.selected, .submenu2.selected { 
  background-color:rgba(30,30,30,.5);
  color:white;
}
.submenu, .submenu2 { 
  background-color:rgba(255,255,255,.2);
  border:1px solid black;
  border-radius:3px;
  padding:2px;
  margin:2px;
  ;
  font-size:11px;
  display:inline;
}
.sideMenu {
  position:absolute;
  top:10px;
  left:20px;
  border-radius: 10px;
  border:1px solid #CCC;
  width:120px;
  height:90vh;
  text-align: left;
  background-color:rgba(255,255,255,.4);
  overflow:scroll;
}
.sideMenu .submenu, 
.sideMenu .submenu2  {
  min-width:90px;
  max-width:90px;
  display:block;
  cursor:pointer;
}

.menu { 
 margin-right:5px ; text-align: left;
  margin-top:20px;
  text-align: center;
  padding:4px 6px;
 }
 .label { 
  clear:both; font-size:11px; 
  text-align: left;
  width:100%;
  opacity: .6;
  
  }
.white { 
  stroke:#333;
  stroke-width:2;
  stroke-opacity:.8;
}
.whiteshadow { 
  stroke:white;
  stroke-width:2;
  stroke-opacity:.5;
}
.white2 { 
  stroke:white;
  stroke-width:10;
  stroke-opacity:1;
}




.whiteCircle { 
  stroke:#333;
  stroke-width:2;
  stroke-opacity:.8;
  fill:#333;
  fill-opacity:.2;
}

.darkblue { 
  stroke:darkblue;
  stroke-width:3;
  stroke-opacity:.7;
  fill:blue;
  fill-opacity:.7;
}
.darkblueshadow { 
  stroke:lightgrey;
  stroke-width:4;
  stroke-opacity:.5;
}
.darkblue2 { 
  stroke:white;
  stroke-width:10;
  stroke-opacity:1;
}


.blackCircle { 
  fill:black;
  fill-opacity:1;
}
#seqCheck { zoom:.7; }
#dSeq { zoom:.8; min-height:20px; }

g
 text { pointer-events: none }
 rect { cursor: pointer; }


      